<html>

<head>
    <title>Stats</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
    <h1>Statistics (average rating)</h1>
    <p>
        Input the place you want:
    </p>
    <!-- create a two inputs for city and state for searching -->
    <form action="/stats" method="post">
        <input type="text" name="city" placeholder="City (e.g. Ann Arbor)"> <br>
        <input type="text" name="state" placeholder="State (e.g. MI)">
        <input type="submit" value="Search">
    </form>
    <p>
        Return to the <a href="/">home page</a>
    </p>
    <table>
        {% for row in stats_food %}
        <tr>
            {% for item in row %}
            <td> {{item}} </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    <div>
        <canvas id="myChart"></canvas>
    </div>

    <script>
        const labels = [
            {% for row in stats_food[1:] %}
        "{{ row[0] }}",
            {% endfor %}
        ];

        const data = {
            labels: labels,
            datasets: [{
                label: 'Yelp Rating',
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                data: [
                    {% for row in stats_food[1:] %}
        "{{ row[1] }}",
            {% endfor %}
                ],
            }, {
            label: 'Google Rating',
                backgroundColor: 'rgb(54, 162, 235)',
                    borderColor: 'rgb(54, 162, 235)',
                        data: [
                            {% for row in stats_food[1:] %}
        "{{ row[2] }}",
            {% endfor %}
                ],
            }]
        };

        const config = {
            type: 'line',
            data: data,
            options: {}
        };

        const myChart = new Chart(
            document.getElementById('myChart'),
            config
        );
    </script>

</body>

</html>